@use "../../assets/scss/config/constants/colors";

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 320px;
  max-width: 800px;
  padding: 0 10vw;
  margin: 30vh auto 0;
}

.header {
  width: 100%;
  margin-bottom: 8px;
}

.title {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 12px;
  font-weight: bold;
  color: colors.$GRAY300;

  &Logo {
    width: 120px;
  }
}

.login {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;

  &Input {
    padding: 4px 8px;
    border: 1px solid colors.$GRAY300;
    border-radius: 8px;
  }
}

.error {
  font-size: 14px;
  color: colors.$RED500;
}
