$WHITE: #ffffff;
$BLACK: #000000;

$SLATE50: #f8fafc;
$SLATE100: #f1f5f9;
$SLATE200: #e2e8f0;
$SLATE300: #cbd5e1;
$SLATE400: #94a3b8;
$SLATE500: #64748b;
$SLATE600: #475569;
$SLATE700: #334155;
$SLATE800: #1e293b;
$SLATE900: #0f172a;

$GRAY50: #f9fafb;
$GRAY100: #f3f4f6;
$GRAY200: #e5e7eb;
$GRAY300: #d1d5db;
$GRAY400: #9ca3af;
$GRAY500: #6b7280;
$GRAY600: #4b5563;
$GRAY700: #374151;
$GRAY800: #1f2937;
$GRAY900: #111827;

$ZINC50: #fafafa;
$ZINC100: #f4f4f5;
$ZINC200: #e4e4e7;
$ZINC300: #d4d4d8;
$ZINC400: #a1a1aa;
$ZINC500: #71717a;
$ZINC600: #52525b;
$ZINC700: #3f3f46;
$ZINC800: #27272a;
$ZINC900: #18181b;

$NEUTRAL50: #fafafa;
$NEUTRAL100: #f5f5f5;
$NEUTRAL200: #e5e5e5;
$NEUTRAL300: #d4d4d4;
$NEUTRAL400: #a3a3a3;
$NEUTRAL500: #737373;
$NEUTRAL600: #525252;
$NEUTRAL700: #404040;
$NEUTRAL800: #262626;
$NEUTRAL900: #171717;

$STONE50: #fafaf9;
$STONE100: #f5f5f4;
$STONE200: #e7e5e4;
$STONE300: #d6d3d1;
$STONE400: #a8a29e;
$STONE500: #78716c;
$STONE600: #57534e;
$STONE700: #44403c;
$STONE800: #292524;
$STONE900: #1c1917;

$RED50: #fef2f2;
$RED100: #fee2e2;
$RED200: #fecaca;
$RED300: #fca5a5;
$RED400: #f87171;
$RED500: #ef4444;
$RED600: #dc2626;
$RED700: #b91c1c;
$RED800: #991b1b;
$RED900: #7f1d1d;

$ORANGE50: #fff7ed;
$ORANGE100: #ffedd5;
$ORANGE200: #fed7aa;
$ORANGE300: #fdba74;
$ORANGE400: #fb923c;
$ORANGE500: #f97316;
$ORANGE600: #ea580c;
$ORANGE700: #c2410c;
$ORANGE800: #9a3412;
$ORANGE900: #7c2d12;

$AMBER50: #fffbeb;
$AMBER100: #fef3c7;
$AMBER200: #fde68a;
$AMBER300: #fcd34d;
$AMBER400: #fbbf24;
$AMBER500: #f59e0b;
$AMBER600: #d97706;
$AMBER700: #b45309;
$AMBER800: #92400e;
$AMBER900: #78350f;

$YELLOW50: #fefce8;
$YELLOW100: #fef9c3;
$YELLOW200: #fef08a;
$YELLOW300: #fde047;
$YELLOW400: #facc15;
$YELLOW500: #eab308;
$YELLOW600: #ca8a04;
$YELLOW700: #a16207;
$YELLOW800: #854d0e;
$YELLOW900: #713f12;

$LIME50: #f7fee7;
$LIME100: #ecfccb;
$LIME200: #d9f99d;
$LIME300: #bef264;
$LIME400: #a3e635;
$LIME500: #84cc16;
$LIME600: #65a30d;
$LIME700: #4d7c0f;
$LIME800: #3f6212;
$LIME900: #365314;

$GREEN50: #f0fdf4;
$GREEN100: #dcfce7;
$GREEN200: #bbf7d0;
$GREEN300: #86efac;
$GREEN400: #4ade80;
$GREEN500: #22c55e;
$GREEN600: #16a34a;
$GREEN700: #15803d;
$GREEN800: #166534;
$GREEN900: #14532d;

$EMERALD50: #ecfdf5;
$EMERALD100: #d1fae5;
$EMERALD200: #a7f3d0;
$EMERALD300: #6ee7b7;
$EMERALD400: #34d399;
$EMERALD500: #10b981;
$EMERALD600: #059669;
$EMERALD700: #047857;
$EMERALD800: #065f46;
$EMERALD900: #064e3b;

$TEAL50: #f0fdfa;
$TEAL100: #ccfbf1;
$TEAL200: #99f6e4;
$TEAL300: #5eead4;
$TEAL400: #2dd4bf;
$TEAL500: #14b8a6;
$TEAL600: #0d9488;
$TEAL700: #0f766e;
$TEAL800: #115e59;
$TEAL900: #134e4a;

$CYAN50: #ecfeff;
$CYAN100: #cffafe;
$CYAN200: #a5f3fc;
$CYAN300: #67e8f9;
$CYAN400: #22d3ee;
$CYAN500: #06b6d4;
$CYAN600: #0891b2;
$CYAN700: #0e7490;
$CYAN800: #155e75;
$CYAN900: #164e63;

$SKY50: #f0f9ff;
$SKY100: #e0f2fe;
$SKY200: #bae6fd;
$SKY300: #7dd3fc;
$SKY400: #38bdf8;
$SKY500: #0ea5e9;
$SKY600: #0284c7;
$SKY700: #0369a1;
$SKY800: #075985;
$SKY900: #0c4a6e;

$BLUE50: #eff6ff;
$BLUE100: #dbeafe;
$BLUE200: #bfdbfe;
$BLUE300: #93c5fd;
$BLUE400: #60a5fa;
$BLUE500: #3b82f6;
$BLUE600: #2563eb;
$BLUE700: #1d4ed8;
$BLUE800: #1e40af;
$BLUE900: #1e3a8a;

$INDIGO50: #eef2ff;
$INDIGO100: #e0e7ff;
$INDIGO200: #c7d2fe;
$INDIGO300: #a5b4fc;
$INDIGO400: #818cf8;
$INDIGO500: #6366f1;
$INDIGO600: #4f46e5;
$INDIGO700: #4338ca;
$INDIGO800: #3730a3;
$INDIGO900: #312e81;

$VIOLET50: #f5f3ff;
$VIOLET100: #ede9fe;
$VIOLET200: #ddd6fe;
$VIOLET300: #c4b5fd;
$VIOLET400: #a78bfa;
$VIOLET500: #8b5cf6;
$VIOLET600: #7c3aed;
$VIOLET700: #6d28d9;
$VIOLET800: #5b21b6;
$VIOLET900: #4c1d95;

$PURPLE50: #faf5ff;
$PURPLE100: #f3e8ff;
$PURPLE200: #e9d5ff;
$PURPLE300: #d8b4fe;
$PURPLE400: #c084fc;
$PURPLE500: #a855f7;
$PURPLE600: #9333ea;
$PURPLE700: #7e22ce;
$PURPLE800: #6b21a8;
$PURPLE900: #581c87;

$FUCHSIA50: #fdf4ff;
$FUCHSIA100: #fae8ff;
$FUCHSIA200: #f5d0fe;
$FUCHSIA300: #f0abfc;
$FUCHSIA400: #e879f9;
$FUCHSIA500: #d946ef;
$FUCHSIA600: #c026d3;
$FUCHSIA700: #a21caf;
$FUCHSIA800: #86198f;
$FUCHSIA900: #701a75;

$PINK50: #fdf2f8;
$PINK100: #fce7f3;
$PINK200: #fbcfe8;
$PINK300: #f9a8d4;
$PINK400: #f472b6;
$PINK500: #ec4899;
$PINK600: #db2777;
$PINK700: #be185d;
$PINK800: #9d174d;
$PINK900: #831843;

$ROSE50: #fff1f2;
$ROSE100: #ffe4e6;
$ROSE200: #fecdd3;
$ROSE300: #fda4af;
$ROSE400: #fb7185;
$ROSE500: #f43f5e;
$ROSE600: #e11d48;
$ROSE700: #be123c;
$ROSE800: #9f1239;
$ROSE900: #881337;
