.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  padding: 4px 8px;
  color: white;
  white-space: nowrap;
  background-color: gray;

  &:hover {
    /* stylelint-disable-next-line scss/no-global-function-names */
    background-color: lighten(gray, 10%);
  }

  &:active {
    /* stylelint-disable-next-line scss/no-global-function-names */
    background-color: darken(gray, 10%);
  }
}
