@use "../../../../assets/scss/config/constants/colors";

$BACKGROUND: colors.$ROSE400;

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  padding: 4px 8px;
  color: colors.$WHITE;
  white-space: nowrap;
  background-color: $BACKGROUND;
  border: none;

  &:hover {
    /* stylelint-disable-next-line scss/no-global-function-names */
    background-color: lighten($BACKGROUND, 10%);
  }

  &:active {
    /* stylelint-disable-next-line scss/no-global-function-names */
    background-color: darken($BACKGROUND, 10%);
  }
}
